[Unit]
Description=OWASP Juice Shop
Documentation=https://owasp.org/www-project-juice-shop/
After=network.target

[Service]
Type=simple
User=juiceshop
Group=juiceshop
WorkingDirectory=/opt/juice-shop
Environment="HOME=/var/lib/juiceshop"
Environment="HOST=127.0.0.1"
Environment="NODE_ENV=unsafe"
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
StandardOutput=append:/var/log/juice-shop/access.log
StandardError=append:/var/log/juice-shop/error.log

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/log/juice-shop /opt/juice-shop /var/lib/juiceshop

[Install]
WantedBy=multi-user.target
